name: CI

on:
  push:
  workflow_dispatch:

jobs:
  
  build:
    
    runs-on: ubuntu-latest

    steps:
    
      - name: Clonacion de codigo
        uses: actions/checkout@v4

      - name: Setup Java JDK
        uses: actions/setup-java@v4.2.1
        with:
          java-version: '8'
          distribution: 'temurin'
      
      - name: Compilacion
        run: |
          mvn package

      - name: Ejecucion Test Unitarios
        run: |
          mvn package test
     
      - name: Setup Java JDK
        uses: actions/setup-java@v4.2.1
        with:
          java-version: '17'
          distribution: 'temurin'
      
      - name: Analisis SonarCloud
        run: |
          mvn clean verify org.sonarsource.scanner.maven:sonar-maven-plugin:3.11.0.3922:sonar \
          -Dsonar.token=${{ secrets.SONAR_TOKEN }} \
          -Dsonar.host.url=https://sonarcloud.io \
          -Dsonar.organization=devops-foundation-ciclo1-usach2024 \
          -Dsonar.projectKey=devops-foundation-ciclo1-usach2024_ms-aumento-voto

      #- name: SonarQube Quality Gate Check
         #env:
           #SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
           #SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }} #OPTIONAL
        #uses: SonarSource/sonarqube-quality-gate-action@v1.1.0
        #with:
          #scanMetadataReportFile: target/sonar/report-task.txt
          
      - name: Docker Login
        uses: docker/login-action@v3.1.0
        with:
          username: clagosu
          password: ${{ secrets.DOCKER_PASS }}

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3
      
      - name: Docker build
        run: | 
          docker build -t clagosu/ms-aumento-voto:latest .
          
          
      - name: Docker push
        run: | 
          docker push clagosu/ms-aumento-voto:latest

  deploy:
    needs: build
    runs-on: self-hosted

    steps:

      - name: Clonacion de codigo
        uses: actions/checkout@v4
      
      - name: Despliegue
        run: |
          kubectl apply -f deploy.yaml
